/* Stylesheet */

/* 
Color Code 
Orange
Orangered
Orchid

*/
.bg-pink{
  background-color:orangered;
}
.color-pink{
  color:orchid;
}

.btn-theme {
  background-color: yellow;
  padding: 5px 20px; 
  color: orangered;
}

.btn-theme:hover {
 
  color: orchid;
  box-shadow: 0px 0px 0px 4px orchid;
}

html,
body {
  font-family: 'Poppins', sans-serif;
}

/*
this wiil be background from home page...find a image suitable...preferably split gradient like tutorial 
#main-home{
    width: 100%;
    min-height: 650px;
    background: url('../img/keto-lemonade.jpeg');
    background-size: 100% 100%;
}
*/

#main-home .header-top .item a {
  color:orangered ;
} 

#main-home .header-top .item a:hover {
  color:orchid;
} 

#main-home .navbar .nav-item{
  padding: 0 15px;
}

#main-home .navbar .nav-item .nav-link{
  color:orchid;
}

#main-home .navbar .nav-item .nav-link:hover{
  color:orangered;
}

#main-home .navbar .cart-icon{
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

#main-home #banner-slider .owl-carousel .owl-nav button{
  position:absolute;
  top: 30%;
  outline: none;
}

#main-home #banner-slider .owl-carousel .owl-nav button.owl-prev{
  left: 0;
}

#main-home #banner-slider .owl-carousel .owl-nav button.owl-next{
  right: 0;
}

#main-home #banner-slider .owl-carousel .owl-nav button span{
  font-size: 30px;
  padding: 0 1rem;
  color: orchid;
}

#main-home #banner-slider .owl-carousel .owl-nav button.owl-prev span{
  margin-left: -5rem;
}

#main-home #banner-slider .owl-carousel .owl-nav button.owl-next span{
  margin-right: -5rem;
}

#main-home #banner-slider .owl-carousel.owl-dots{
  position:absolute;
  bottom: -6rem;
  left: 50%;
  transform:translateX(-50%);
}

#main-home #banner-slider .owl-carousel .owl-dots button span{
  background-color: slategray;
  padding: 6px !important;
}

#main-home #banner-slider .owl-carousel .owl-dots button.active span{
  background-color: orchid;

}

/* Menu Section */
#menu-section {
  padding-top: 100px;
}







/* Responsive Styles */

/* Mobile Phone Screen  */
@media only screen and (max-width:580px){
  #main-home .header-top{
    flex-direction: column;
  } 
   #main-home #banner-slider{
    width:95%;
    margin: auto;  
  }
  
  #main-home #banner-slider .owl-carousel .owl-nav button{
    display: none;
  }
  #main-home #banner-slider .owl-carousel.owl-dots{
    bottom: -1rem;
    
  }
  #main-home{
    padding:20px 0; 
}

  }

